<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Timcontrol DEMO application
  </h1>

  <h2>
    Version check
    <span class="version">{{ libraryVersions['timcontrol-version-check'] }}</span>
    <a
      class="header-link"
      href="https://bitbucket.org/skubal_dudr_cz/timcontrol/src/master/projects/timcontrol-version-check/README.md"
      target="_blank"
      >documentation</a
    >
  </h2>
  <p>
    Application version:
    <span *ngIf="versionCountdown$ | async as versionCountdown"
      >will be checked in <code>{{ versionCountdown | date: 'HH:mm:ss':'+00:00' }}</code></span
    >
  </p>
  <p>
    Version checking is based on Henrik Peinar's article
    <a
      href="https://blog.nodeswat.com/automagic-reload-for-clients-after-deploy-with-angular-4-8440c9fdd96c"
      target="_blank"
      >Automagic reload for clients after deploy with Angular 4</a
    >.
  </p>

  <h2>
    QR/RFID Code reader
    <span class="version">{{ libraryVersions['timcontrol-code-reader'] }}</span>
    <a
      class="header-link"
      href="https://bitbucket.org/skubal_dudr_cz/timcontrol/src/master/projects/timcontrol-code-reader/README.md"
      target="_blank"
      >documentation</a
    >
  </h2>
  <timcontrol-code-reader
    (loadRfidEvent)="receiveRfidCode($event)"
    (loadQrEvent)="receiveQrCode($event)"
  ></timcontrol-code-reader>
  <p>
    The component is capturing keyup events. If it recognizes a valid QR/RFID code, it fires appropriate services.
  </p>
  <p>
    Try attach the chip or load QR code. While processing, the input should not be changed.
    <input placeholder="test typing" />
  </p>
  <p *ngIf="this.isLoaded">
    Code <code>{{ this.code }}</code> has been read by <i>{{ this.type }} reader</i>.
  </p>
</div>
