pre {
  background-color: #eee;
  padding: 1em;
  display: inline-block;
}

code {
  background-color: #eee;
  padding: 0.2em;
}

.version {
  font-family: monospace;
  color: gray;
  background-color: #eee;
  padding: .5em;
  font-size: 0.6em;
  font-weight: normal;
}
