.header-link::before {
  content: '[';
}
.header-link::after {
  content: ']';
}
.header-link {
  margin-left: 1em;
  font-size: initial;
  text-decoration: none;
}
.header-link:hover {
  text-decoration: underline;
}
